<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Page.Title }}</title>


</head>
<body>
    <div class="container">
        <ul class="post-list">
            {{ range .Pages }}
                <li class="post-stub" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
                    <a href="{{ .Permalink }}" itemprop="url" title="Go to post detail">
                        <h4 class="post-stub-title" itemprop="name">{{ .Title }}</h4>
                        {{ with .Params.featured }}
                            <span class="post-stub-tag">Featured</span>
                        {{ end }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
    
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->


</body>
</html>