<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ block "title" . }} {{ .Page.Title }} - {{ .Site.Title }}  {{ end }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css" content-type="text/plain">
  </head>
  <body>
    <div id="container">
      <div class="main-row">
 

        {{ block "left-sidebar" . }}
        <div id="left">
          {{ partial "left-sidebar.html" . }}
        </div>
        {{ end }}


        <div id="main">
          {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
          {{ block "main" . }}{{ end }}
          {{ block "article-footer" . }}{{ end }}
        </div>

        {{ block "right-sidebar" . }}
        <div id="right">
        </div>
        {{ end }}

      </div>

    </div>
    <div id="footer" class="bg-light">
      {{ block "footer" . }}
      <div class="footer-content">
        {{ block "breadcrumbs" . }}{{ partial "breadcrumbs.html" . }}{{end}}
        {{ partial "footer.html" . }}
      </div>
      {{ end }}
    </div>


    <script>
      document.querySelector(".navbar-toggler").addEventListener("click", function(){
        document.getElementById("content-navigation").classList.toggle("show");
      })
    </script>
    {{ block "script" . }}{{ end }}
  </body>
</html>