{{ define "main"}}
    <div class="list-container">
        <ul class="post-list">
            {{ range .Pages }}
                <li itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
                    <a class="list-title" href="{{ .Permalink }}" itemprop="url" title="Go to post detail">
                        <span itemprop="name">{{ .Title }}</span>
                    </a>
                    <p class="description">{{ .Description }}</p>
                    <time class="list-date" datetime="{{ .Date.Format "2006-01-02" }}"> {{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time>
                    {{ with .Params.featured }}
                        <span class="post-stub-tag">Featured</span>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
{{ define "right-sidebar"}} &nbsp; {{end}}
